
.refer{
    margin-bottom: 57px;
}

.referTitle h1{
    font-weight: 700;
    line-height: 90px;
    font-size: 80px;
    padding:72px 0 43px 0;
}
.referTitle h1{
    text-align: center;
    margin: auto;
}

.referForm form{
    width: 307px ;
    margin:auto;
    padding: 0 0 100px 0;

}
form .button{
    align-content: center;
   
}


@media screen and (max-width: 1040px){
.container {
    padding:  0;
}
}

@media screen and (max-width: 768px){


.referTitle .btn {
    padding: 56px 0 45px 0;
}

.referForm form{
    width: 260px ;
    margin: auto;
    padding: 0 0 40px 0;

}
.referTitle h1{
    font-size: 50px;
    padding:60px 0 20px 0;
}
}

@media screen and (max-width: 425px){
    .referTitle h1{
        font-size: 40px;
        padding:30px 0 10px 0;
    }
}