/* manrope-regular - latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/manrope-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/manrope-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-600 - latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/manrope-v12-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/manrope-v12-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-700 - latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/manrope-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/manrope-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #2D2D2D;
    margin: 0 auto;
    max-width: 2560px;
}

.container,
.navbar {
    margin: 0 100px;
    
}

/*silizare bara de navigare__________________________________________________________________________________________*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #FFFFFF;
    margin-bottom: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 60%;

}

.menu li {
    list-style: none;

}

.menu a {
    color: #000000;
    text-decoration: none;
    line-height: 32px;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.2s ease;

}

.menu a:hover {
    padding: 38px 60px;
    background: rgba(210, 210, 210, 0.27);
    border-radius: 16px;
}

.burgher {
    display: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.burgher div {
    width: 25px;
    height: 3px;
    background-color: #2D2D2D;
    margin: 5px;
    transition: all 0.3s ease;
}

.burgher:hover {
    transform: scale(1.2);
}

@media screen and (max-width:1024px) {
    .menu {
        width: 60%;
    }

}

@media screen and (max-width:1024px) {
    .menu {
        width: 80%;
    }

}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .menu {
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 100px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .menu a:hover {
        padding: 0;
        background: transparent;
    }

    .menu li {
        opacity: 0;
    }

    .burgher {
        display: block;
    }
}

@media screen and (max-width:460px) {

    .container,
    .navbar {
        margin: 0 25px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*silizare background__________________________________________________________________________________________*/

.intro {
    height: 600px;
    background: url(../img/header.jpg) no-repeat center;
    background-size: cover;
}


.intro .info {
    width: 564px;
    padding-top: 70px;
}

.title {
    font-weight: 700;
    font-size: 500%;
    line-height: 90px;
    color: #F0F0F0;

}

.text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #F0F0F0;
    opacity: 0.5;

}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 109px;
    height: 250px;
}

.intro-1 {
    height: 500px;
    background: url(../img/why.jpg) no-repeat center;
    background-size: cover;
}

.intro-1 .info {
    max-width: 283px;
    margin-right: 146px;
    flex: 1;
}

.row .info-1 {

    flex: 1;
    max-width: 638px;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    padding-top: 10px;
    color: #F0F0F0;
}
@media screen and (max-width:1040px) {
    .row .info-1{
    font-size: 14px;
    line-height: 30px;
    }

}

@media screen and (max-width:915px) {
    .intro-1 .title{
        font-size: 60px;

    }
    .intro-1 .text{
        font-size: 14px;
    }
    .row .info-1{
        font-size: 12px;
        line-height: 25px;
        }

}


@media screen and (max-width:775px) {
    .intro .info{
        width: 265px;
        padding-top: 35px;
        
    }
    .intro-1 .title ,.title{
        font-size: 40px;
        line-height: 45px;
    }
    .intro-1 .text,.info-1{
        padding-top: 10px;
        
    }
    
    .intro{
        height: 50vh;
    }
    .intro-1{
        height: 100%;
       
    }
    .intro-1 .info{
        margin-right: 40px;
    }
    .intro-1 .row{
        padding: 40px 0 40px 0;
        display:inline-table;
    }
    .row .info-1{
        line-height: 20px;
    }
}
/*silizare servicii__________________________________________________________________________________________*/


.servicii {
    height: 500px;
    background-color: #EFEFEF;
}

.services,
.D_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 102px;

}

.service {
    width: 200px;
    height: 268px;
    box-sizing: border-box;

}

.service .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #2D2D2D;
}

.service .text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #2D2D2D;
    opacity: 0.5;
}

.service .box {
    text-align: center;
    height: 139px;


}

.service .box img {
    background-size: cover;
    display: inline-block;
}
@media screen and (max-width:1040px) {
    .servicii{
        height: 100%;
    }
    .service {
        width: 40%;
        height: 100%;
        justify-content: space-between;
        margin-top: 30px;
    }
    .services{
        padding-top: 0;
    }
    


}

@media screen and (max-width:775px) {
    .service .box{
        height: 100px;
    }
    .service .box img{
        width: 100px;
       
    }
   
    .text,
    .service .text{
        margin: 0;
        font-size: 12px;
        line-height: 25px;

    }
    .service .title{
        font-size: 14px;
    }
    
}


@media screen and (max-width:425px) {
    .service .box img{
        transform: scale(0.7);
    }
}



/*silizare logos__________________________________________________________________________________________*/

.logos {
    height: 100%;
}


.log {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0px;
}
.box_img{
    box-sizing: border-box;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0 10px 0;
}

.box_img img {

    background-size: cover;

}
@media screen and (max-width:1200px) {
.box_img{
    width: 30%;
    align-items: center;
}
}

@media screen and (max-width:768px) {
    .box_img{
        width: 35%;
    }
    }

    @media screen and (max-width:425px) {
        .box_img{
            width: 100%;
        }
        .box_img img{
            transform: scale(0.7);
        }
        }


/*silizare baner__________________________________________________________________________________________*/

.baner {
    text-align: center;
    background-color: #EFEFEF;
    height: 100%;
}

.baner .title {
    color: #2D2D2D;
    padding-top: 78px;

}

.baner .text {
    color: #2D2D2D;
}

.btn {
    padding: 56px 0 94px 0;

}

.btn a,
button {
    text-align: center;
    padding: 16px 49px;
    background-color: #C71414;
    border-radius: 32px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    border: 0px;
    transition: all 0.3s ease-in;
}

.btn a:hover,
button:hover {
    font-weight: 600;
    font-size: 20px;
    color: #2D2D2D;
}


@media screen and (max-width:775px) {
 .btn a, .button{
    font-size: 16px;
    padding: 10px 30px;
   }
   .btn{
    padding: 25px 0 45px 0;
   }
    }

/*silizare footer__________________________________________________________________________________________*/

.footer {
    height: 100%;
}

.logo_footer {
    margin-bottom: 24px;
}

.footer_info,
.contact_row {
    display: flex;
    flex-flow: row wrap;
    padding: 60px 0;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;

}

.footer_right li {
    list-style: none;
    display: inline-block;
}

.footer_right li a {
    text-align: right;
    display: block;
    color: #2D2D2D;
    font-size: 18px;
    margin-left: 63px;
    font-weight: 700;
    line-height: 24px;

}

.line2 {
    text-align: right;
    margin-top: 29px;
}

.line2 li {
    list-style: none;
    display: inline-block;
}

.line2 li a {

    display: block;
    color: #2D2D2D;
    margin-left: 18px;

}

@media screen and (max-width:1040px) {
    .footer_info,
    .contact_row {
        padding: 0;
     
    }

    .footer_right li a {
        margin-left: 5px;
        
    }
    .line1{
        text-align: right;
    }
.footer_info ul li a  ,div{
    justify-content: space-between;
    font-size: 12px;
}
}
@media screen and (max-width:650px) {
    .footer_info{
        display: unset;
    flex-flow: unset;
 justify-content: none;

    }
    .line1{
        text-align: left;
    }
    .line2 {
        text-align: left;
        margin-top: 10px;
    }
    .footer_right li a {
        margin: 10px 10px 0 0;
        
    }
    .line2 li{
        padding-right: 10px;
    }
    .privacy li{
        font-size: 10px;
    }
    .privacy li a{
        padding-bottom: 20px;
    }
    
}

@media screen and (max-width:425px) {
.footer{
    height: 75vh;
}
}


/*silizare background page Contact Us __________________________________________________________________________________________*/

.intro_2 {
    height: 100%;
    background: url(../img/1.png) no-repeat center;
    background-size: cover;
    background-color: #EFEFEF;
}

.intro_2 .tile {
    color: #2D2D2D;
}

.intro_2 .info {
    width: 728px;
    padding-top: 70px;
}

.intro_2 .title {

    color: #2D2D2D;

}

.intro_2 .text {

    color: #2D2D2D;


}
@media screen and (max-width:775px) {

.intro_2 .text {
    width: 50%;
}
.intro_2 .info {
    padding-top: 25px;
    width: 100%;
}
}
@media screen and (max-width:425px) {

    .intro_2 .text {
        width: 35%;
    }

}
/*silizare Description_________________________________________________________________________________________*/


.description {
    background-color: #EFEFEF;
    height: 100%;
}

.general {
    padding-top: 73px;
}

.general .title {
    color: #2D2D2D;
    text-align: center;
}

.general .text {
    color: #2D2D2D;
    text-align: center;
}

.subtitle {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 60px;
    line-height: 32px;
    color: #000000;
    padding-top: 53px;

}



.D_info {
    padding-top: 53px;
    justify-content: space-between;
}

.d_item {
    width: 230px;
    box-sizing: border-box;

}

.d_item .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    color: #2D2D2D;
}

.d_item .text {
    margin-top: 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    color: #2D2D2D;
    opacity: 0.5;
}

.D_info .text {
    margin-top: 0;
    text-align: left;

    width: 230px;
    box-sizing: border-box;
}


@media screen and (max-width:1024px) {
    .subtitle {
        font-size: 30px;
        line-height: normal;
        padding-top: 53px;
    
    }


   
}

@media screen and (max-width:768px) {
    .d_item .text , .d_item .title{
        font-size: 12px;
    }
    .subtitle{
        font-size: 18px;
        padding-top: 20px;
    }
    .D_info{
        padding-top: 10px;
    }
    .general{
        padding-top: 25px;
    }
}



/*silizare FORM CONTACT uS_________________________________________________________________________________________*/

.contact_us .subtitle {
    text-align: center;
    padding: 80px 0;
}

.contact_form {
    background-color: #EFEFEF;
    height: 100%;
}

.container .form {
    padding-top: 0;
    padding-right: 125px;
}

.form .title {
    color: #2D2D2D;
    width: 100%;

}

.form .text {
    letter-spacing: 0.25px;
    color: #404040;
    opacity: 0.99;
    width: 498px;
    height: 88px;
    padding-top: 6px;
    font-weight: 700;
    line-height: 28px;


}

.container .row {
    padding: 61px 0 90px;
    height: unset;
    max-width: 100%;
}

.row .form {
    flex: 1;
}
.row .form_2{
    flex: 1;
}

form {
   
    width: 307px;
    padding-top: 14px;
}

.input-group {
    margin-bottom: 12px;
    position: relative;
}

input,
textarea {
    width: 100%;
    padding: 10px 0 10px 10px;
    outline: 0;
    border: 1px solid #D1D1D1;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 14px;
}

label {

    height: 100%;
    position: absolute;
    align-items: center;
    bottom: -10px;
    left: 40px;
    right: 0;
    opacity: 0.5;
    transition: 0.2s;
}

.input-group img {
    padding-right: 5px;
    position: inherit;
    margin-left: -30px;
}

.columne {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.columne .input-group {
    flex-basis: 45%;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    opacity: 0;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #404040;
    opacity: 1;
    font-size: 14px;
    line-height: 28px;

}


.checkbox a,
.text a {
    color: #4743E0;

}

.checkbox__input {
    height: 24px;
    width: 24px;
    margin: 10px 15px 0 -40px;
    border: 1px solid #D1D1D1;
}

.checkbox__box {
    margin-top: 15px;

}

.button {
    padding: 16px 77px;
    margin: 48px 0 0 0;
}

@media screen and (max-width:1280px) {

}
@media screen and (max-width:1024px) {
.contact_us .subtitle{
    font-size: 60px;
}

}
@media screen and (max-width:775px) {
    .contact_us .subtitle{
        font-size: 40px;
        padding: 40px 0;
    }
    .container .row{
        justify-content: left;
        display: unset;
    }
    .container .form , .container .text {
        width: 100%;
        padding-right: 100px;
    }
      
    
    }
    @media screen and (max-width:545px) {
        .container .form , .container .text {
            padding:0;
        }
    }

    @media screen and (max-width:425px) {
        .contact_us .subtitle{
            font-size: 30px;
            padding: 20px 0;
        }
        .form_2 form{
            width: 90%;
        }
        
       
        }

/*silizare _Contacts_________________________________________________________________________________________*/



.contacts {
    background-color: #EFEFEF;
    height: 100%;
}

.contacts .row {
    padding-top: 86px;
    justify-content: space-between;
}

.contact_title {
    flex: 1;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    margin-right: 30px;
}

.contact_title img {
    margin-bottom: 60px;
}

.contact_info {
    flex: 1;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #404040;
    padding-top: 11px;
    max-width: 535px;
}

@media screen and (max-width:1024px) {
    .contacts .row{
        display: unset;
    }
    .contact_info {
        font-size: 14px;
    }
    .contact_title img {
        margin-bottom: 30px;
        width: 50%;
    }
}

/*silizare _Work background_________________________________________________________________________________________*/

.work_background {
    height: 100%;
    background-color: #EFEFEF;
    padding-bottom: 10px;
}

.work_background .title {
    color: #2D2D2D;
    max-width: 530px;
    padding-top: 82px;
}

.work_background .btn {
    margin: 42px 0 97px 0;
}

.btn .refer {
    color: #2B2B2B;
    background-color: transparent;
    border: 1px solid #2D2D2D;
    border-radius: 32px;
    margin-left: 18px;
}

.work_background .text {
    margin-top: 0;
    color: #2D2D2D;
    text-align: right;
}

.job {
    height: 155px;
    background-color: #F7F7F7;
    margin-top: 26px;
}

.job .info {
    padding: 40px 0 40px 40px;
}

.job .job_title {
    padding-bottom: 11px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;

}

.job .text {
    text-align: left;
}

.refer_friend {
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
    margin: 94px 0 93px 0;
}

.refer_friend .row {
    justify-content: space-between;
    padding-top: 80px;
    

}

.refer_title {
    font-weight: 700;
    font-size: 41px;
    line-height: 32px;
    color: #000000;
}

.refer_info .text {
    text-align: left;
}

.refer_friend .btn {
    margin: 16px 0 0 0;
    align-items: center;
    padding: 0;
}

@media screen and (max-width:1100px) {
    .refer_friend{
        height: 100%;
        
    }
    .refer_friend .row{
        padding: 0;
    }
    .btn .refer{
margin: 0;
    }
    .refer_title{
        font-size: 35px;
        line-height: 45px
    }
}




/*responsive----------------------------------------------------*/

@media screen and (max-width:1040px) {

    .container{
        padding:60px 0 60px 0;
    }
}

@media screen and (max-width:915px) {
    .container{
        padding:40px 0 40px 0;
    }
}

    @media screen and (max-width:775px) {
        .container{
            padding:30px 0 30px 0;
        }
    }
    